<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso16.css" /> 
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link href="/static/css/stylesheet.css" rel="stylesheet">
        <script type="text/javascript" src="/static/js/javascript.js"></script>
    </head>

    <body data-spy="scroll" data-target=".navbar" data-offset="50">
        <nav class="navbar navbar-custom navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#Head">Giselas mobiler Friseurdienst</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">   
                            <li><a href="#Info">Info</a></li>
                            <li><a href="#Preise">Preise</a></li>
                            <li><a href="#Terminvergabe">Terminvergabe</a></li>
                            <li><a href="#Anfahrtsrechner">Anfahrtsrechner</a></li>
                            <li><a href="#Kontakt">Kontakt</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>  
        <div id="Body2">
            <div id="Head">
                <h2>Giselas </br>Meister-Friseurdienst</h2>
            <p3>Mobiler Friseur F&uumlrstenfeldbruck</p3>
            </div>

        <div class="Bild">
            <img src="https://github.com/KilianKae/WonderBoys/blob/master/Images/Gisela.png?raw=true"> 
        </div>

        <div id="Info">
            <h1>Info</h1>
            <p3>Keine Zeit? Terminstress im Beruf? Kein Babysitter zur Hand? Nicht mobil?</br> Ich komme zu Ihren Terminwünschen zu Ihnen nach Hause und Sie bekommen Ihre Wunschfrisur zu fairen Preisen.</br>
            Ob jung alt, groß oder klein </br>
            Ich bin eine Friseurin aus Leidenschaft seit xx Jahren mit einem Gesellenbrief seit xxxx und einem Meister seit xxxx.</br>
            von xxxx bis xxxx führte ich einen Salon in Aachen,...</br>
            Lassen Sie sich von meinen Künsten überzeugen!</p3>
        </div>

<div class="InfoBilder">
    <img src"">
    <img src"">
    <img src"">
</div>

<div id="Preise">
    <h1>Preise</h1><br>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#Preise1">lokal</a></li>
        <li><a data-toggle="tab" href="#Preise2">mobil</a></li>

    </ul>

    <div class="tab-content">
        <div id="Preise1" class="tab-pane fade in active">
            <p3>Ihren Haaren zuliebe verwende ich ausschlie&szliglich professionelle Friseur-Produkte
                der Firma Pur Hair&reg.</p3>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Service</th>
                        <th>Geschlecht</th>
                        <th>kurz</th>
                        <th>mittel</th>
                        <th>lang</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Waschen, Schneiden, F&oumlhnen oder Legen</td>
                        <td>Damen</td>
                        <td>30,-</td>
                        <td>33,-</td>  
                        <td>38,-</td>  
                    </tr>
                    <tr>
                        <td>Waschen, Schneiden</td>
                        <td>Damen</td>
                        <td>28,-</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Waschen, F&oumlhnen, Legen</td>
                        <td>Damen</td>
                        <td>18,-</td>
                        <td>23,-</td>
                        <td>28,-</td>
                    </tr>
                    <tr>
                        <td>Schnitt, Styling</td>
                        <td>Herren</td>
                        <td>14,-</td>
                        <td></td>
                        <td></td>
                    </tr>    

                    <tr>
                        <td>Waschen, Schnitt und Styling</td>
                        <td>Herren</td>
                        <td>18,-</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Kinderhaarschnitt</td>
                        <td></td>
                        <td>12,-</td>
                        <td></td>
                        <td></td>
                    </tr>      

                    <tr>     
                        <td>Ansatz F&aumlrben 1-2cm</td>
                        <td></td>
                        <td>ab 21,-</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>

                        <td>Komplett F&aumlrben </td>
                        <td></td>
                        <td>ab 27,-</td>
                        <td></td>
                        <td></td>
                    </tr>  
                <tr>
                    <td>Str&aumlhnen </td>
                    <td></td>
                    <td>ab 35,-</td>
                    <td></td>
                    <td></td>
                </tr> 
            <tr>
            <td>Mehrfarbig </td>
            <td></td>
            <td>ab 45,-</td>
            <td></td>
            <td></td>
            </tr> 
        <tr>
        <td>Highlights </td>
        <td></td>
        <td>ab 15,-</td>
        <td></td>
        <td></td>
        </tr> 
    <tr>
    <td>Haubenstr&aumlhnen </td>
    <td></td>
    <td>ab 27,-</td>
    <td></td>
    <td></td>
    </tr>
<tr>
<td>Sanfte Dauerwelle mit Schnitt und Styling (l&aumlngen Abh&aumlngig) </td>
<td></td>
<td>ab 65,-</td>
<td></td>
<td></td>
</tr> 
<tr>
<td>Kurpackung </td>
<td></td>
<td>4,-</td>
<td></td>
<td></td>
</tr> 
</tbody>
</table>
</div>

<div id="Preise2" class="tab-pane fade">
    <p2>Anfahrtspauschale f&uumlr den mobilen Service au&szligerhalb FFB pro Kilometer 1,-&#8364
        und in FFB zzgl. 3,-&#8364.</p2>
    <p3>Ihren Haaren zuliebe verwende ich ausschlie&szliglich professionelle Friseur-Produkte
        der Firma Pur Hair&reg.</p3>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Service</th>
                <th>Geschlecht</th>
                <th>kurz und mittel</th>
                <th>lang</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Waschen, Schneiden, F&oumlhnen oder Legen</td>
                <td>Damen</td>
                <td>33,-</td>  
                <td>38,-</td>  
            </tr>
            <tr>
                <td>Waschen, Schneiden</td>
                <td>Damen</td>
                <td>28,-</td>
                <td></td>
            </tr>
            <tr>
                <td>Waschen, F&oumlhnen, Legen</td>
                <td>Damen</td>
                <td>23,-</td>
                <td>28,-</td>
            </tr>
            <tr>
                <td>Schnitt, Styling</td>
                <td>Herren</td>
                <td>16,-</td>
                <td></td>
            </tr>    
            <tr>
                <td>Waschen, Schnitt und Styling</td>
                <td>Herren</td>
                <td>18,-</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Kinderhaarschnitt</td>
                <td></td>
                <td>12,-</td>
                <td></td>
                <td></td>
            </tr>  

            <tr>     
                <td>Ansatz F&aumlrben 1-2cm</td>
                <td></td>
                <td>ab 25,-</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Komplett F&aumlrben </td>
                <td></td>
                <td>ab 30,-</td>
                <td></td>
                <td></td>
            </tr>  
        <tr>
            <td>Str&aumlhnen </td>
            <td></td>
            <td>ab 35,-</td>
            <td></td>
            <td></td>
        </tr> 
    <tr>
    <td>Mehrfarbig </td>
    <td></td>
    <td>ab 45,-</td>
    <td></td>
    <td></td>
    </tr> 
<tr>
<td>Highlights </td>
<td></td>
<td>ab 15,-</td>
<td></td>
<td></td>
</tr> 
<tr>
<td>Haubenstr&aumlhnen </td>
<td></td>
<td>ab 30,-</td>
<td></td>
<td></td>
</tr>
<tr>
<td>Sanfte Dauerwelle mit Schnitt und Styling (l&aumlngen Abh&aumlngig) </td>
<td></td>
<td>ab 65,-</td>
<td></td>
<td></td>
</tr>
</tbody>
</table>   
</div>
</div>
</div>


<div id="Terminvergabe">
    <h1>Terminvergabe</h1>
    <p2>Für einen Termin füllen Sie bitte die notwendigen Felder aus.</p2>
    <div class="bootstrap-iso">
        <div class="container-fluid1">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <form id="distance" class="form-horizontal" method="post">
                        <div class="form-group">
                            <label class="control-label col-sm-2 requiredField" id="DecField" for="dest">
                                Vorname:
                                <span class="asteriskField">
                                    *
                                </span>
                            </label>
                            <div class="col-xl-10">
                                <div class="input-group">
                                    <input class="form-control" id="dest" name="dest" placeholder="Max" type="text"/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <form id="distance" class="form-horizontal" method="post">
                        <div class="form-group">
                            <label class="control-label col-sm-2 requiredField" id="DecField" for="dest">
                                Nachname:
                                <span class="asteriskField">
                                    *
                                </span>
                            </label>
                            <div class="col-xl-10">
                                <div class="input-group">
                                    <input class="form-control" id="dest" name="dest" placeholder="Mustermann" type="text"/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <form id="distance" class="form-horizontal" method="post">
                        <div class="form-group ">
                            <label class="control-label col-sm-2 requiredField" id="DecField" for="dest">
                                Handynr.:
                                <span class="asteriskField">
                                    *
                                </span>
                            </label>
                            <div class="col-xl-10">
                                <div class="input-group">
                                    <input class="form-control" id="dest" name="dest" placeholder="0171/..." type="tel"/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <form id="distance" class="form-horizontal" method="post">
                        <div class="form-group">
                            <label class="control-label col-sm-2 requiredField" id="DecField" for="dest">
                                Termin:
                                <span class="asteriskField">
                                    *
                                </span>
                            </label>
                            <div class="col-xl-10">
                                <div class="input-group">
                                    <input class="form-control" id="dest" name="dest" placeholder="02.05." type="date"/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <form id="distance" class="form-horizontal" method="post">
                        <div class="form-group">
                            <label class="control-label col-sm-2 requiredField" id="DecField" for="dest">
                                E-Mail:
                                <span class="asteriskField">
                                    *
                                </span>
                            </label>
                            <div class="col-xl-10">
                                <div class="input-group">
                                    <input class="form-control" id="dest" name="dest" placeholder="maxmuster@gmx.de" type="email"/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <form id="distance" class="form-horizontal" method="post">
                        <div class="form-group">
                            <label class="control-label col-sm-2 requiredField" id="DecField" for="dest">
                                Bevorzugter Kontakt:
                                <span class="asteriskField">
                                    *
                                </span>
                            </label>

                            <!--<div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Auswählen...
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">SMS</a>
                                    <a class="dropdown-item" href="#">Anruf</a>
                                    <a class="dropdown-item" href="#">E-Mail</a>
                                </div>
                            </div>-->
                            <!--<div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Dropdown
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="#">SMS</a></li>
                                    <li><a href="#">Anruf</a></li>
                                    <li><a href="#">Email</a></li>
                                </ul>
                            </div>
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default" id="buttonLeft">SMS</button>
                                <button type="button" class="btn btn-default" id="buttonMiddle">Anruf</button>
                                <button type="button" class="btn btn-default" id="buttonRight">Email</button>
                            </div>-->
                            <form>
                                <fieldset id="radioButtons">
                                    <input type="radio" id="sms" name="bevorzugterKontakt" value="SMS">
                                    <label for="SMS"> SMS</label> 
                                    <input type="radio" id="anruf" name="bevorzugterKontakt" value="Anruf">
                                    <label for="Anruf"> Anruf</label>
                                    <input type="radio" id="email" name="bevorzugterKontakt" value="Email">
                                    <label for="Email"> Email</label> 
                                </fieldset>
                            </form>
                        </div>
                    </form>
                </div>
            </div>
            <button type="button" class="btn btn-round">Submit</button>
        </div>
    </div>
</div>

<div id="Anfahrtsrechner">
    <h1>Fahrtkosten Rechner</h1>
    <p2>Anfahrtspauschale f&uumlr den mobilen Service au&szligerhalb FFB pro Kilometer 1,-&#8364
        und in FFB zzgl. 3,-&#8364</p2>    
    <!--
<FORM id="distance">
Ziel: <input type="text" id="dest"><br>
Kosten: <div id="dist" type="text"></div>
<input type="button" id="CalculateDistance" value="Kosten Berechenen" onclick="getDistance()">
</FORM>  
-->
</div>

<div class="bootstrap-iso">
    <div class="container-fluid1">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <form id="distance" class="form-horizontal" method="post">
                    <div class="form-group">
                        <label class="control-label col-md-2 requiredField" id="DecField" for="dest">
                            Ihr Wohnort:
                            <span class="asteriskField">
                                *
                            </span>
                        </label>
                        <div class="col-xl-10">
                            <div class="input-group">
                                <input class="form-control" id="dest" name="dest" placeholder="Hauptstr. 1, F&uuml;rstenfeldbruck, Deutschland" type="text"/>
                            </div>
                            <div>
                                <span class="help-block" id="hint_dest">
                                    Innerhalb F&uuml;rstenfeldbrucks: 3,00&euro;
                                </span>
                                <input type="button" id="CalculateDistance" value="Kosten Berechenen" onclick="getDistance()">
                                Ihre Anfahrtskosten: <div id="dist" type="text"></div>
                            </div>
                        </div>
                    </div>
                </form>
                <button type="button" class="btn btn-round">Kosten berechnen</button>
            </div>
        </div>
    </div>
</div>

<div id="Kontakt">
    <h1>Kontakt</h1>
    <p1>Termine sind nach Absprache unter
        0176 470 423 80 jederzeit m&oumlglich.</p1>
    <p2>Ich stehe Ihnen auch in den R&aumlumen des Salons Hair Affair, Viehmarktstr. 5 in Fürstenfeldbruck, unter Vereinbarung eines Termines, zur Verf&uumlgung.</p2>
    <p3>Montags 9 bis 18 Uhr (auch ohne Terminvereinbarung)</p3>
    <p3>Mittwochs 9 bis 18 Uhr </p3>
    <p3>Donnerstags 9 bis 18 Uhr</p3>
</div> 
</div>

<footer class="footer-distributed">

    <div class="footer-left">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Viehmarktstrasse 5</span> 82256 F&uumlrstenfeldbruck</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+0 176 470 423 80</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@company.com">gisela-hedrich@gmx.de</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>Giselas mobiler Meister-Friseurdienst</span>
            Gisela Hedrich</br>
    c/o Hair Affair</br>
Viehmarktstrasse 5 - 82256 F&uumlrstenfeldbruck</br>
Telefon: 0176-470 423 80</br>
St.-Nr 117 226 40 103</br>

        </p>

<div class="footer-icons">

    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-github"></i></a>

</div>

</div>

</footer>
</body>
</html>